NODE_ENV=development
APP_HANDLE="xxx"
APP_PASSWORD="xxx"
HELLOWORLD_DB_URL=sqlite:data/helloworld.db
FAKEBLUESKY_DB_URL=sqlite:data/fakebluesky.db
ONEYEARAGO_DB_URL=sqlite:data/oneyearago.db
UMAMI_WEBSITE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
UMAMI_HOST=https://example.com
ENABLE_JETSTREAM=false
JETSTREAM_URL=wss://jetstream1.us-east.bsky.network/subscribe
