[package]
name = "privatelist"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
bsky_core = { path = "../core" }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sqlx = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
reqwest = { workspace = true }
